body {
   margin: 0;
 background: linear-gradient(135deg, #1e1e2f, #2a2a40);
 font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: #2b2b3c;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movie-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(192, 132, 252, 0.3);
}

.movie-card img{
  width: 100%;
}

.movie-info {
  padding: 10px;
  color: white;
}

.movie-info h3{
  font-size: 16px;
  margin: 0;
}

.movie-info span {
  font-size: 16px;
  color: #ffd700;
}

.search-form {
  margin-bottom: 20px;
}

.search-form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #2b2b3c;
  color: white;
  outline: none;
  margin-right: 10px;
}

.search-form input:focus {
  border-color: #c084fc;
}

.search-form button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background-color: #7c3aed;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.search-form button:hover {
  background-color: #6d28d9;
}


.no-results {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.reset-button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #7c3aed;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.reset-button:hover {
  opacity: 0.8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #1e1e2f;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  color: white;
  position: relative;
  display: flex;
  gap: 25px;
  animation: fadeIn 0.3 ease;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content img {
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.modal-text {
  flex: 1;
}

.modal-text h2 {
  margin-bottom: 10px;
}

.modal-text p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.modal-content button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: crimson;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #2a2a3d;
  border-top: 5px solid #00bfff;
  border-radius: 50%;
  margin: 40px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error-box {
  background-color: #2a1a1a;
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
  padding: 15px;
  border-radius: 8px;
  width: fit-content;
  margin: 20px auto;
  font-weight: 500;
  text-align: center;
}
